extends layout

block content
  h1= title
  p Welcome to #{title}
  form.form-horizontal(action='/api/posts', method='post')
    .form-group
      label.col-sm-2.control-label(for='inputTitle') Title
      .col-sm-10
        input#inputTitle.form-control(type='text', placeholder='Title', name="title")
    .form-group
      label.col-sm-2.control-label(for='inputBody') Body
      .col-sm-10
        input#inputBody.form-control.textBody(type='text', name="body")
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Submit Post
